# Copy this file to .env.local or .env.development to use the local FastAPI backend
VITE_API_URL=http://localhost:8000
VITE_SUPABASE_URL=https://tamrtgcjgwxssfasnbcp.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_IgfDKfCcWaNzOol5qZQvlw_WDMiD2nE
VITE_GOOGLE_CLIENT_ID=514687193034-jvkntjom2hg69b658kdkfumofocfaerp.apps.googleusercontent.com
